header {
    width: 1000px;
    padding: auto;
    background-color: black;
}

.whiteText {
    color: white;
}

#rainbowSpan {
    animation-name: rainbowAnimation;
    animation-duration: 4s;
}

@keyframes rainbowAnimation {
    from {color: red;}
    to {color: orange;}
    to {color: yellow;}
    to {color: green;}
    to {color: aqua;}
    to {color: blue;}
    to {color: indigo;}
    to {color: violet;}
}