body {
    font-family: 'JetBrains Mono';font-size: 22px;
}

#changingBackground {
    background-color: rgb(25, 25, 25);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    animation-name: fadingBackground;
    animation-duration: 5;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#blackBar {
    /* padding: 22.64% 0%; */
    padding: 44.7vh 0vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    animation-name: resizingDiv;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

header {
    width: auto;
    padding: auto;
}

header h1 {
    font-size: 4vh;
    animation-name: fadingText;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center;
}

.whiteText {
    color: white;
}

header h1 .rainbowSpan {
    animation-name: rainbowAnimation;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fadingBackground {
    from {background-color: rgb(25, 25, 25);}
    to {background-color: rgb(64, 64, 64);}
}

/* @keyframes resizingDiv {
    from {padding: 22.64% 0%;}
    to {padding: 2% 0%;}
} */

@keyframes resizingDiv {
    from {padding: 44.7vh 0vw;}
    to {padding: 2vh 0vw;}
}

@keyframes fadingText {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes rainbowAnimation {
    0% {color: red;}
    14% {color: orange;}
    28% {color: yellow;}
    42% {color: green;}
    57% {color: aqua;}
    71% {color: blue;}
    85% {color: indigo;}
    100% {color: violet;}
}